[submodule "common"]
	path = common
	url = git@github.com:freebook/common.git
[submodule "docbook-xsl"]
	path = docbook-xsl
	url = git@github.com:freebook/docbook-xsl.git
[submodule "Project/Management"]
	path = Project/Management
	url = git@github.com:freebook/Management.git
[submodule "DevOps/Management"]
	path = DevOps/Management
	url = git@github.com:freebook/Management.git
